debug_level:
    help: 0 prod, 1 dev client API, 2 DEBUG Message
    type: integer
    value: 2

server_name:
    help: Header Server in HTTP response
    type: string
    value: Yameo API server

tenancy:
    help: regular expression use to create tenancy's prefix (here mydomain prefix with sub.mydomain.com and mydomain.com)
    type: string
    value: ([^\.]*)\.[^\.]+$

multi_tenancy:
    help: If Multy tenance is activated
    type: boolean
    value: True

db_uri:
    help: URI for global DB connection
    type: string
    value: pgsql://user:password@127.0.0.1/yameo

ldap_uri:
    help: URI for global ldap connection
    type: string
    value: ldap://<binddn>:<bindpwd>@<host>/<basedn>

max_pool_size:
    help: Size of connection pool
    type: string
    value: 10

module_path:
    help: Comma separated list (without space) of modules directories
    type: string
    value: addons

data_dir:
    help: Directory path to store binary data
    type: string
    value: /var/data
